body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

body{
background-color: blue;
}

input, textarea, select, button {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 8px 0;
}
